body {
  background: url(../img/bg.jpg);
  background-size: 1200px 1200px;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  background-color:blue;
  color: white;
  text-align: center;
  font-family: "新宋體", "標楷體", "Times New Roman", Times, serif;
  font-size: 300%;
  margin-bottom: 0px;
}

p {
  -webkit-animation-timing-function: 歡迎來到清華大學住宿組;
  background-color: rgb(141, 174, 243);
  font-family: courier;
  font-size: 100%;
  text-align: left;
}

form {
  font-size: 20px;
  text-align: center;
  font-family: "微軟正黑體","華文黑體","Times New Roman", Times, serif;
  font-weight: bold;  
}

#animate {
  animation-timing-function: linear;
  width: 100%;
  height: 25px;
  font-weight: bold;
  position: relative;
  animation: mymove 10s infinite;
  margin: 0px;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 100%;
  }
}

.bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5%;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

a,button{
  margin: auto;
}

div{
  background-color: rgb(141, 174, 243);
}

.btn{
  background-color: green;
  color: aliceblue;
}