body {
  background: url(../img/bg.jpg);
  background-size: 1200px 1200px;
  background-position: center;
  background-repeat: no-repeat;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

th {
  height: 50px;
  text-align: center;
  background-color: aqua;
}

img
{
    height: 80px;
    width: 80px;
}

h2{
  text-align: center;
  color: white;
  text-align: center;
  font-family: "新宋體", "標楷體", "Times New Roman", Times, serif;
  font-size: 300%;
}
p{
  text-align: center;
  color:antiquewhite;
  text-align: center;
  font-family: "新宋體", "標楷體", "Times New Roman", Times, serif;
  font-size: 150%;
}

.in_use{
  background-color: red;
}
.preserve{
  background-color: yellow;
}
.idle{
  background-color: greenyellow;
}